img{
    border-radius: 50%;
  }
  header{
    background-color: #0097A7;
    
  }
  td{
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: x-large;
      
  }
  a{
    color: white;
  }