<div></div>

<h1>Role Of Manager</h1>


<p>

The Manager can perform all roles of Manager,Developer and Tester.The Manager can assign project modules
to the developer and obayin the completed module from the developer.Once the completed module is obtained,it
is passed on to the tester for Quality Analysis check.If the Quality Analysis check is passed,it
is updated to the Manager again.
</p>
<h1>Role of Developer </h1>
<p>
  
    The Developer can view the assigned modules and when the module is started by the Developer, the status is updated
    as "Module in Progress" to the Manager. Once the Developer completes the Project, It is updated to the Manager as
    "Project Completed".
    Incase of bugs, Project is returned back to the respective Developer and post bug fixes it is resent for testing and
    this cycle repeats untill the Tester encounters no bug in the developed Project.

</p>
<h1>Role of Tester </h1>
<p>
  
    The Tester can view the modules assigned to him for Testing. When the Tester begins Testing, the status is updated as
    "Testing In Progress" to the Manager. If the Tester encounters any bug, status is updated as "Quality Analysis Failed"
    and it is sent to the respective Developer directly for bug fixation. If the developed Project is Bug free, then the
    status is updated as "Quality Analysis Passed" to the Manager.
</p>
<p>
    Thus, Only if all the modules in a particular Project are completed, The project is complete.
</p>


