div{

    background-image: url('../../assets/mangif.gif'); 
    height: 110%;
    width:20%;
    
    float:right; 
    background-position: center;
    

}
h1{
    font-display: block;
    font-size: x-large;
    font-family: cursive;
}
p{
    align-content: center;
    /* margin: 0% 10% 0% 5%;  */
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#37474F;
}
h1{
    font-display: block;
    font-size: x-large;
    font-family: cursive;
    color: navy;
    /* margin: 10% 20% 10% 10%; */
}