
mat-sidenav,mat-sidenav-content{
padding: 16px;
font-size: small;


}

mat-sidenav-container{
height: 90vh;


}
mat-sidenav{
  background-color: #7b1fa2;
}
td{
padding: 0px 10px;
border-bottom: 1px solid white;

}
#sidebar .toggle-btn span {
display: block;
width: 30px;
height: 2px;
background: white;
margin: 5px 0px;
}

a{

font-style:Helvetica,Arial,sans-serif;
font-size:larger;
color: black;

}
img{
border-radius: 50%;
}

h1{
font-family:Georgia;
}
header{
  background-color: #7b1fa2;
}
