<app-layout-header></app-layout-header>
<form name="form" (ngSubmit)="(f.form.valid && addModules())" #f="ngForm"  novalidate>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">Module Name</th>
            <th scope="col">Module Description</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
           
         
        </tr>
    </thead>

        <tbody >
            <tr *ngFor='let add of adds; let i = index;'>
              
                <td><input  type="text" placeholder="Module Name" [(ngModel)]="add.ModuleName"
                    name="Module_name"
                    #Module_name="ngModel" required >
                    
                    <span *ngIf="(Module_name.errors && f.submitted && show)">
                        <br>
                    <span class="span" *ngIf="Module_name.errors.required">
                        Fill Name</span>  
                    </span>
                </td>
                <td> <textarea type="text" placeholder="Enter Module Description" [(ngModel)]="add.ModuleDescription" 
                    name="Module_description"
                    #Module_description="ngModel" required></textarea>
                    <span *ngIf="(Module_description.errors && f.submitted && show)">
                        <br>
                            <span class="span" *ngIf="Module_description.errors.required">                                            
                                         fill Description</span>
                    </span></td>
                <td>  <input id="durat"  placeholder="Select Duration-Start" name="durat_{{i}}"  [(ngModel)]="add.ModuleStartDate"
                    type="text" bsDatepicker [bsConfig]="datePickerConfig" [minDate]='minnDate' [maxDate]='maxDate' name="ModuleStartDate" #ModuleStartDate="ngModel" required> </td>
                    <span *ngIf="(ModuleStartDate.errors && f.submitted && show)">
                        <br>
                      <span class="span" *ngIf="ModuleStartDate.errors.required">Fill StartDate </span> 
                    </span>

                <td> <input id="durati"  placeholder="Select Duration-End" name="durati_{{i}}" [(ngModel)]="add.ModuleEndDate"
                    type="text" bsDatepicker [bsConfig]="datePickerConfig1" [minDate]='add.ModuleStartDate' name="ModuleEndDate" #ModuleEndDate="ngModel" required> </td>
                    <span *ngIf="(ModuleEndDate.errors && f.submitted && show)">
                        <br>
                      <span class="span" *ngIf="ModuleEndDate.errors.required">Fill EndDate </span> 
                    </span>
                    
               <td><button *ngIf='i==adds.length-1' class="btn btn-success" (click)="addModuless()">Add</button></td>
                    <td><button *ngIf='i!=0' class="btn btn-danger" (click)=" removeModules(i)">Remove</button></td>
            </tr>
        </tbody>


    </table>
    
    <div>

           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <button class="btn btn-primary"style="width: 10; float: left; ">Create</button>
       </div>

    
    </div>
    
    <div *ngIf="result==true">Modules created

    </div>



</form>





 
