<app-layout-header></app-layout-header>
<form name="form" (ngsubmit)="f.form.valid && assign()" #f="ngForm">
<div >
  
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <mat-form-field>
    <mat-label>Employee List</mat-label>
    <mat-select [(value)]=value>
      <mat-option *ngFor="let tester of testerList" [value]="tester.EmployeeName"  [(ngModel)]="tester.EmployeeName" name="EmployeeName" #EmployeeName="ngModel" required>
        {{tester.EmployeeName}}
      </mat-option>
    </mat-select>
    <span *ngIf="f.submitted && EmployeeName.errors">
      <br>
      <span class="span" *ngIf="EmployeeName.errors.required">Name is required</span>
    </span>
  </mat-form-field>

  <table >
    <br>
      <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Start Date
        </td>
          <td>
                  <input id="durat" placeholder="Select Duration" name="durat" [(ngModel)]="assigntester.EmpStartDate"
                  type="text" bsDatepicker [bsConfig]="datePickerConfig" class="form-control" [minDate]='minnDate' name="EmpStartDate" #EmpStartDate="ngModel" required>
          </td>  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          <span *ngIf="f.submitted && EmpStartDate.errors">
            <br>
            <span class="span" *ngIf="EmpStartDate.errors.required">Start Date is required</span>
          </span>
      </tr>
      <br>
      <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          End Date
        </td>
        <td>
            <input id="durati" placeholder="Select Duration" name="durati" [(ngModel)]="assigntester.EmpEndDate"
            type="text" bsDatepicker [bsConfig]="datePickerConfig1" [minDate]='assigntester.EmpStartDate'class="form-control"  name="EmpEndDate" #EmpEndDate="ngModel" required>
          </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span *ngIf="f.submitted && EmpEndDate.errors">
            <br>
            <span class="span" *ngIf="EmpEndDate.errors.required">End Date is required</span>
          </span>
  
      </tr>
      <br>
      <tr>
        <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button mat-raised-button color="primary"  class="btn-btn-info">Assign</button>
  &nbsp;&nbsp;
  <button mat-raised-button color="accent" (click)="back()" class="btn-btn-info">Back</button>
        </td>
      </tr>
      <br>
  </table>
  <br>
</div>
</form>

    

    
