
<section class="container">
        
        <div *ngFor="let module of modules">
                <div class="pricing_table_wdg">
                        <ul>
                            <li>{{module.ProjectName}}</li>
                            <li>{{module.ModuleName}}</li>
                            <li>{{module.ModuleStatus}}</li>
                            <li><label *ngIf="module.ModuleStatus==module_Status" style="color: green;">Status</label>
                                <label *ngIf="module.ModuleStatus==mod_Status" style="color:green;">Status</label>
                                <label *ngIf="module.ModuleStatus==assignedStatus" style="color:yellow;">Status</label></li>
                            <li><label style="color:darkcyan;">Developer Name:</label>{{module.DeveloperName}}</li>
                            <li><label style="color:darkcyan" *ngIf="module.TesterName!=undefined">Tester Name:</label> {{module.TesterName}}</li>                                                       
                            <li><button *ngIf="module.ModuleStatus==module_Status" (click)="assign(module)">Assign</button>
                                <button *ngIf="module.ModuleStatus==mod_status" (click)="completed(module)">Completed</button>
                                
                            </li>
                        </ul>
                        
           
                        
                  
                </div>
        </div>        
        
          </section>
          
          <div>
                <br/><br/>
        </div>
        <div *ngIf="modules==null">
             No Modules
        </div>