<header>
                
    <br/>
    <a href="#" class="btn btn-info btn-lg" style="float: right;position: relative;width: 10%;margin: 0% 2% 0% 2%; background-color: 
    #2196F3; color: white;" (click)="logout()">
      <span class="glyphicon glyphicon-log-out"></span> Log out
    </a>
 

<div class="nav nav-tabs">


<div id="sidebar">
<tr>
            <td><div class="icon">
                            <img src="../assets/MLogo.gif" height="60" width="60"  
        />            </div></td>
<td> 
<div class="toggle-btn" (click)="sidenav.toggle()">
    <span></span>
    <span></span>
    <span></span> 
</div>

</td>    

 
</tr>


 

</div>
</div>
</header>
